
body {
  background-color: rgb(0, 162, 255);
  width: 100%;
  font-family: Spectral;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

#heading {
  color: white;
  text-align: center;
  margin-bottom: 100px;
  justify-content: center;
}

h1 {
  font-size: 100px;
  margin-bottom: 0px;
}

p {
  font-size: 30px;
  margin-top: 0;
  color: rgb(34, 79, 105);
  background-color: white;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

#searchDiv {
  color: white;
  background-color: rgb(0, 118, 186);
  padding: 20px;
  margin: 20px;
  border-radius: 15px 15px;
  text-align: center;
  width: 80%;
}

#addressTextBox {
  border-radius: 5px 5px;
  border: none;
  margin-bottom: 10px;
  font-family: Spectral;
  width: 50%;
  padding: 5px;
  margin-right: 20px;
}

#searchButton {
  border-radius: 5px 5px;
  border: none;
  font-family: Spectral;
  padding: 5px;
  width: 30%;
}

#filters {
  text-align: center;

}

#map {
  height: 400px;
  width: 100%;  
  border-radius: 15px;
  margin-top: 40px;
  border: white;
  border-style: solid;
  margin-bottom: 200px;
}


@media only screen and (min-device-width: 1024px) {

  #content {
    text-align: center;
  }
  
  #searchDiv {
    width: 50%;
    justify-content: center;
  }

  #map {
    width: 60%;
    height: 600px;
  }
}

@media only screen and (max-device-width: 320px) {

  p {
    font-size: 15px;
    padding: 5px  }

  #content {
    margin: 20px;
  }
}



