body {
  background-color: rgb(0, 162, 255);
  /* background: linear-gradient(75deg, rgb(7, 42, 243), rgb(0, 162, 255)); */
  width: 100%;
  font-family: Spectral;
}

section {
  /*defines that the section element should stack lower than any other element with a higher z-index (in this case, the map, search area and bathrooms list)*/
  z-index: 1;
  position: relative;
  /*states that if bubbles come out of the section container, hide them*/
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section article {
  /*The element is positioned relative to its first positioned (not static) ancestor element (the section)*/
  position: absolute;
  bottom: 50px;
  background: transparent;
  /* make section elements circles */
  border-radius: 50%;

  pointer-events: none;
  /* adds bubble shadow */
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  /* animate is the nme of the animation, where I define below, makes the animation last for 4 seconds, perform the animation in a linear way (no acceleration or slowing down) and to repeat the aniation infinately */
  animation: animate 4s linear infinite;
}

/* Puts "shine" on bubbles */
section article::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* transform allows us to use scale and translate properties: scale creates the size of the "shine" translate moves it to the upper left of the bubble*/
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(#fff, transparent);
  border-radius: 50%;
}

/* moves the bubble in the y-direction at different intervals (0%, 99%, 100%) within the animation */
@keyframes animate {
  0%
  {
    transform: translateY(0%);
    opacity: 1;
  }
  99% 
  {
    opacity: 1;
  }
  100%
  {
    transform: translateY(-1200%);
    opacity: 0;
  }
}

#container {
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  margin-bottom: 5%;
}

#heading {
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: center;
}

h1 {
  font-size: 100px;
  margin-bottom: 0px;
  line-height: 100px;
}

p {
  font-size: 30px;
  line-height: 30px;
  margin-top: 0;
  color: white;
  width: 100%;
  padding: 10px;
  border-color: snow;
  border-style: solid;
}

#searchDiv {
  z-index: 2;
  color: white;
  background-color: rgb(0, 118, 186);
  padding: 20px;
  margin-top: 0px;
  border-radius: 15px 15px;
  text-align: center;
  width: 94%;
}

#addressTextBox {
  border-radius: 5px 5px;
  border: none;
  margin-bottom: 10px;
  font-family: Spectral;
  width: 52%;
  padding: 5px;
  margin-right: 20px;
}

#addressTextBox:focus {
  outline: none;
}

#searchButton {
  border-radius: 5px 5px;
  border: none;
  font-family: Spectral;
  padding: 5px;
  width: 30%;
  transition: 200ms;
}

#searchButton:hover {
  background: white;
  color: #1a64d6;
  /* border: 1px solid #1a64d6; */
}

#searchButton:focus {
  outline: none;
}
#filters {
  text-align: center;
}

#map {
  z-index: 2;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  margin-top: 40px;
  border: white;
  border-style: solid;
  margin-bottom: 50px;
}

#store {
  font-size: larger;
  font-weight: bolder;
}

#store2 {
  justify-content: space-between;
  display: flex;
}

#restroomDiv {
  z-index: 2;
  background-color: #0076ba;
  color: rgb(34, 79, 105);
  border-radius: 15px;
  /* padding: 10px; */
  /* margin-left: 40px;
  margin-right: 40px; */
  width: 100%;
  font-size: 10px;
  height: 500px;
  overflow: auto;
}

#restroomUL {
  list-style-type: none;
  /* background-color: white; */
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
}

li {
  list-style-type: none;
  /* margin-right: 8%; */
  text-align: initial;
  /* margin: 20px; */
}

.separate {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  margin: 8px;
  margin-block-start: 0;
  /* margin-block-end: 0; */
}

.separate:hover {
  background-color: #f3eded;
}

b {
  font-size: 15px;
  font-weight: bolder;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #searchDiv {
    width: 89%;
  }

  #content {
    margin: 20px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 15px;
    padding: 5px;
  }

  #addressTextBox {
    padding-left: 1%;
  }

  #filters {
    display: flex;
    flex-direction: column;
    text-align: initial;
    font-size: 15px;
    padding-left: 1%;
  }

  #map {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 600px) {
  #filters {
    display: flex;
    flex-direction: column;
    text-align: initial;
    font-size: 15px;
  }

  b {
    font-size: 20px;
  }

  #restroomDiv {
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 601px) {
  /* #searchDiv {
    /* width: 400px; */
  /* } */
  */ b {
    font-size: 20px;
  }

  #restroomDiv {
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 769px) {
  /* #content {
    text-align: center;
  } */

  /* #addressTextBox {
    width: 77%;
  } */

  #container {
    display: flex;
    flex-direction: column;
    align-items: initial;
    width: 100%;
    justify-content: center;
  }

  #searchDiv {
    text-align: left;
    width: 50%;
  }

  #searchButton {
    width: 14%;
  }

  #addressTextBox {
    width: 77%;
  }
  #mapListDiv {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
  }

  #search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #filters {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding-left: 1%;
  }

  #restroomDiv {
    display: flex;
    flex-direction: column;
    /* margin-left: 40px; */
    margin-right: 30px;
    height: 650px;
  }

  #restroomUL {
    overflow: auto;
  }

  #mapListDiv #searchDiv {
    width: 50%;
  }

  #mapListDiv #restroomDiv {
    width: 50%;
  }

  #mapListDiv #map {
    width: 100%;
    height: 75%;
    margin: 0;
  }

  #mapDiv {
    width: 50%;
  }

  .separate {
    border-radius: 3px;
    margin: 8px;
  }
}
